@charset "UTF-8";

.wrapper {
	width: 100%;
	height: 100%;
	max-width: 1403px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #000;
	margin: 0 auto;
}

body {
	background-color: silver;
}

.one-block {
	width: 100%;
	max-width: 1403px;
	max-height: 782px; 
}

.header-one-block {
	width: 100%;
	max-width: 1403px;
	height: 87px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: #212121;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 700;
	margin-left: 20px;
	padding: 5px;
	width: 20%;
}

.navigation {
	width: 60%;
	padding: 5px 10px;
}

.wrapper-list-li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-li-in-nav {
	list-style-type: none;
}

.link-nav {
	text-decoration: none;
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	margin: 0 7px;
}

.search {
	width: 20%;
	text-align: center;
}

.search-input {
	width: 120px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 3px;
}

.in-one-block {
	width: 100%;
	max-width: 1403px;
	height: 782px;
	background: url(../img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.web-dev {
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 50px;
	letter-spacing: 3px;
	padding-top: 200px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.text-in-web-dev {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 22px;
	letter-spacing: 1.1px;
	width: 100%;
	text-align: center;
	margin: 36px auto 0 auto;
}

.two-img {
	margin: 108px auto 0 auto;
	width: 300px;
	display: flex;
	align-items: center;
}

.inside-one {
	margin-right: 15px;
}

.btn {
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #fff;
	background: transparent;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	width: 130px;
	height: 50px;
}

.btn:hover {
	background-color: #00897b;
	border: none;
}

.about-us {
	width: 100%;
	height: 672px;
	background-color: #fff;
	padding: 10px;
}

.h2-about-us {
	width: 100%;
	text-align: center;
	color: #212121;
	font-weight: 700;
	font-family: "Open Sans";
	font-size: 30px;
	letter-spacing: 1.5px;
	padding-top: 120px;
}

.p-about-us {
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	letter-spacing: 0.75px;
	margin: 35px auto 35px auto;
}

.three-min-block {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 110px 0 0 20px;
	align-items: center;
	justify-content: center;
}

.min-block {
	width: 33%;
	text-align: center;
	padding: 20px;
}

.title-min-block {
	margin-top: 41px;
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
} 

.text-min-block {
	width: 70%;
	margin: 21px auto 21px auto;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.our-services {
	width: 100%;
	height: /*1414px*/ auto;
	background-color: #e4fdf9;
	padding: 10px;
}

.h3-our-services {
	width: 100%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
	padding-top: 150px;
}

.p-our-services {
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	letter-spacing: 0.75px;
	margin: 36px auto 0 auto;	
}

.block-for-six {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 100px auto 100px auto;
}

.six-block {
	width: 300px;
	height: 400px;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	margin: 25px;
	transition: all .1s ease;
}

.six-block:hover {
	background-color:  #00897b;
}

.six-img {
	margin-top: 20px;
}

.title-six {
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	margin-top: 25px;
}

.text-six {
	width: 80%;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.75px;
	margin: 15px auto 0 auto;
}

.btn-six {
	margin-top: 30px;
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #000;
	background: transparent;
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	width: 125px;
	height: 45px;
}

.btn-six:hover {
	background-color: #fff;
	border: none;
}

.latest-works {
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 10px;
}

.latest-works-text {
	margin: 125px auto 0 auto;
	padding: 20px;
}

.h2-latest-works {
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.p-latest-works {
	margin: 35px auto 0 auto;
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.foo-btn {
	width: 100%;
	margin: 111px auto 111px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-foo {
	margin: 5px;
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #00897b;
	background: transparent;
	text-transform: uppercase;
	color:  #000;
	font-size: 16px;
	width: 130px;
	height: 50px;
}

.btn-foo:hover {
	background-color: #00897b;
	color: #fff;
	border: none;
}

.block-foo-img {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 90px auto 50px auto;
}

.foo-img {
	width: 320px;
	height: 320px;
	text-align: center;
	background-color: #fff;
	padding: 10px;
	margin: 20px;
}

.btn-for-foo-img {
	margin: 50px auto 70px auto;
	display: block;
	cursor: pointer;
	border: 2px solid #00897b;
	background: #00897b;
	text-transform: uppercase;
	color:  #fff;
	font-size: 16px;
	width: 130px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all .1s ease;
}

.btn-for-foo-img:hover {
	color: #000;
	background: transparent;
}

.pricing-plan {
	width: 100%;
	height: auto;
	background-color: #dbdbdb;
	padding: 10px;
}

.pricing-plan-text {
	margin: 125px auto 0 auto;
	padding: 20px;
}

.h2-pricing-plan {
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.p-pricing-plan {
	text-align: center;
	margin: 35px auto 0 auto;
	width: 50%;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.three-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 100px 0 125px 0;
}

.form-pricing {
	width: 370px;
	height: 667px;
	background-color: #fff;
	margin: 0 10px;
}
.head-form {
	width: 370px;
	height: 209px;
	background-color: #3949ab;
}
.titl-head-form {
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 25px;
	line-height: 22px;
	letter-spacing: 1.25px;
	display: inline-block;
	margin-top: 40px;
}
.dollar {
	color: #fff;
	font-size: 3em;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 30px;
}
.text-span {
	color: #fff;
	font-size: 14px;
}
.text-center-form {
	padding: 98px 98px;
}
.text {
	text-align: center;
	margin: 20px 0 20px 0;
	display: block;
	color: #212121;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.85px;
	position: relative;
}
.text::after {
	position: absolute;
	display: block;
	content: "";
	background-color: #212121;
	top: 115%;
	left: 0;
	height: 1px;
	width: 100%;
}
.btn-pricing-form {
	margin: 0px auto 20px auto;
	display: block;
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #000;
	background: transparent;
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	width: 125px;
	height: 45px;
}
.btn-pricing-form:hover {
	background-color: #00897b;
	color: #fff;
	border: none;
}

.our-time-member {
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 10px;
}

.time-member-text {
	margin: 122px auto 135px auto;
}

.h2-title-member {
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.text-in-time-member {
	text-align: center;
	width: 50%;
	margin: 35px auto 0 auto;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.time-member-img-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-people {
	text-align: center;
	width: 33%;
}

.img-people {
	width: 370px;
	height: 320px;
}

.name-people {
	margin-top: 35px;
	display: block;
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
}

.work-name {
	margin-top: 13px;
	display: block;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.society-online {
	margin-top: 25px;
	margin-bottom: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.facebook,
.twitter,
.github,
.vkontakte {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.three-btn-link {
	text-align: center;
	margin-bottom: 125px;
}

.btn-link {
	display: inline-block;
	height: 17px;
	width: 17px;
	background-color: #388c69;
	border-radius: 50%;
	margin: 0 6px;
	cursor: pointer;
}

.blog {
	width: 100%;
	height: auto;
	background-color:  #e4fdf9;
	padding: 10px;
}

.text-in-blog {
	margin: 125px auto 127px auto;
}

.h2-title-blog {
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.p-blog {
	margin: 28px auto 0 auto;
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.block-for-img-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

.block-state-img {
	width: 70%;
	display: flex;
	margin-top: 40px;
}

.img-state {
	width: 50%;
	height: auto;
}

.text-state {
	width: 50%;
	height: auto;
	padding: 30px;
}

.title-state {
	color: #00897b;
	font-family: "Open Sans - Semibold";
	font-size: 22px;
	line-height: 22px;
	letter-spacing: 1.25px;
}

.p-state {
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin-top: 30px;
}

.blog-btn {
	margin: 50px auto 70px auto;
	display: block;
	cursor: pointer;
	border: 2px solid #00897b;
	background: #00897b;
	text-transform: uppercase;
	color:  #fff;
	font-size: 16px;
	width: 130px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all .1s ease;
}

.blog-btn:hover {
	color: #000;
	background: transparent;
}

.contact-us {
	width: 100%;
	height: auto;
	background-color: #212121;
	padding: 10px;
}

.contact-text-block {
	margin: 125px auto 127px auto;
}

.title-contact {
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.text-contact-us {
	width: 50%;
	text-align: center;
	margin: 20px auto 0 auto;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.three-contact-form {
	height: auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto 100px auto;
}

.contact-form {
	width: 20%;
	height: 200px;
	text-align: center;
}

.blue-block {
	width: 95px;
	height: 95px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #3949ab;
	background-image: url("../img/geo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
}

.text-contact-form {
	margin-top: 10px;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 1px;
}

.input-form {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input[name="text-form"],
input[name="email-form"] {
	display: inline-block;
	width: 440px;
	height: 50px;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	padding-left: 10px;
}

textarea {
	font-size: 18px;
	display: block;
	border-radius: 5px;
	width: 885px;
	resize: none;
	margin: 20px auto 20px auto;
}

textarea[name="textar"] {
	padding-left: 10px;
	padding-top: 10px;
}

.form {
	display: block;
	margin: 30px auto 30px auto; 
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #fff;
	background: transparent;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	width: 125px;
	height: 45px;
}

.form:hover {
	color: #000;
	background-color: #fff;
}

.footer	{
	width: 100%;
	height: 65px;
	background-color: #fff;
	padding: 10px;
}

address {
	text-align: center;
	line-height: 50px;
}

@media screen and (min-width: 834px) and (max-width: 1024px) {
.three-form {
	flex-direction: column;
	margin: 80px 0 100px 0;
}
.form-pricing {
	margin: 0px 10px 40px 10px;
}
.img-people {
	width: 280px;
	height: 230px;
}
.link-nav {
	font-size: 16px;
	margin: 0 5px;
}
.web-dev {
	font-size: 38px;
	letter-spacing: 2px;
}
.text-in-web-dev {
	font-size: 19px;
	letter-spacing: 1px;
}
.img-people {
	width: 250px;
	height: 210px;
}
.blue-block {
	width: 75px;
	height: 75px;
}
.text-contact-form {
	font-size: 14px;
	line-height: 16px;
}
input[name="text-form"],
input[name="email-form"] {
	width: 290px;
	height: 50px;
	font-size: 17px;
}
textarea {
	font-size: 17px;
	width: 582px;
}
}
@media screen and (min-width: 768px) and (max-width: 833px) {
.logo {
	font-size: 23px;
}
.web-dev {
	font-size: 38px;
	letter-spacing: 2px;
}
.text-in-web-dev {
	font-size: 19px;
	letter-spacing: 1px;
}
.link-nav {
	font-size: 14px;
	margin: 0 5px;
}	
.btn {
	font-size: 15px;
}
.three-form {
	flex-direction: column;
	margin: 80px 0 100px 0;
}
.img-people {
	width: 230px;
	height: 200px;
}
.form-pricing {
	width: 340px;
	height: 637px;
	background-color: #fff;
	margin: 0px 10px 40px 10px;
}
.head-form {
	width: 340px;
	height: 209px;
}
.text-center-form {
	padding: 78px 78px;
}

.blue-block {
	width: 75px;
	height: 75px;
}
.text-contact-form {
	font-size: 14px;
	line-height: 16px;
}
input[name="text-form"],
input[name="email-form"] {
	width: 240px;
	height: 50px;
	font-size: 17px;
}
textarea {
	font-size: 17px;
	width: 482px;
}
}