@charset "UTF-8";

.wrapper {
	width: 100%;
	height: 100%;
	max-width: 1403px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #000;
	margin: 0 auto;
}

body {
	background-color: red;
}

.one-block {
	width: 100%;
	max-width: 1403px;
	max-height: 782px; 
}

.header-one-block {
	max-width: 1403px;
	height: 87px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: #212121;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 700;
	margin-left: 20px;
	padding: 5px;
	width: 25%;
}

.navigation {
	width: 70%;
	padding: 5px 10px;
}

.wrapper-list-li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-li-in-nav {
	list-style-type: none;
}

.link-nav {
	text-decoration: none;
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	margin: 0 7px;
}

.search {
	width: 25%;
}

.in-one-block {
	max-width: 1403px;
	height: 782px;
	background: url(../img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.web-dev {
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 50px;
	letter-spacing: 3px;
	padding-top: 200px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.text-in-web-dev {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 22px;
	letter-spacing: 1.1px;
	width: 100%;
	text-align: center;
	margin: 36px auto 0 auto;
}

.two-img {
	margin: 108px auto 0 auto;
	width: 300px;
	display: flex;
	align-items: center;
}

.inside-one {
	margin-right: 15px;
}

.btn {
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #fff;
	background: transparent;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	width: 130px;
	height: 50px;
}

.btn:hover {
	background-color: #00897b;
	border: none;
}

.about-us {
	width: 100%;
	height: 672px;
	background-color: #fff;
	padding: 10px;
}

.h2-about-us {
	width: 100%;
	text-align: center;
	color: #212121;
	font-weight: 700;
	font-family: "Open Sans";
	font-size: 30px;
	letter-spacing: 1.5px;
	padding-top: 120px;
}

.p-about-us {
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	letter-spacing: 0.75px;
	margin: 35px auto 35px auto;
}

.three-min-block {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 110px 0 0 20px;
	align-items: center;
	justify-content: center;
}

.min-block {
	width: 33%;
	text-align: center;
	padding: 20px;
}

.title-min-block {
	margin-top: 41px;
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
} 

.text-min-block {
	width: 70%;
	margin: 21px auto 21px auto;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.our-services {
	width: 100%;
	height: /*1414px*/ auto;
	background-color: #e4fdf9;
	padding: 10px;
}

.h3-our-services {
	width: 100%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
	padding-top: 150px;
}

.p-our-services {
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	letter-spacing: 0.75px;
	margin: 36px auto 0 auto;	
}

.block-for-six {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 100px auto 100px auto;
}

.six-block {
	width: 300px;
	height: 400px;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	margin: 25px;
	transition: all .1s ease;
}

.six-block:hover {
	background-color:  #00897b;
}

.six-img {
	margin-top: 20px;
}

.title-six {
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	margin-top: 25px;
}

.text-six {
	width: 80%;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.75px;
	margin: 15px auto 0 auto;
}

.btn-six {
	margin-top: 30px;
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #000;
	background: transparent;
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	width: 125px;
	height: 45px;
}

.btn-six:hover {
	background-color: #fff;
	border: none;
}

.latest-works {
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 10px;
}

.latest-works-text {
	margin: 125px auto 0 auto;
	padding: 20px;
}

.h2-latest-works {
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.p-latest-works {
	margin: 35px auto 0 auto;
	width: 50%;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.foo-btn {
	width: 100%;
	margin: 111px auto 111px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-foo {
	margin: 5px;
	transition: all .1s ease;
	cursor: pointer;
	border: 2px solid #00897b;
	background: transparent;
	text-transform: uppercase;
	color:  #000;
	font-size: 16px;
	width: 130px;
	height: 50px;
}

.btn-foo:hover {
	background-color: #00897b;
	color: #fff;
	border: none;
}

.block-foo-img {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 90px auto 50px auto;
}

.foo-img {
	width: 370px;
	height: 370px;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	margin: 25px;
}

.btn-for-foo-img {
	margin: 50px auto 70px auto;
	display: block;
	cursor: pointer;
	border: 2px solid #00897b;
	background: #00897b;
	text-transform: uppercase;
	color:  #fff;
	font-size: 16px;
	width: 130px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all .1s ease;
}

.btn-for-foo-img:hover {
	color: #000;
	background: transparent;
}

.pricing-plan {
	width: 100%;
	height: auto;
	background-color: #dbdbdb;
	padding: 10px;
}

.pricing-plan-text {
	margin: 125px auto 0 auto;
	padding: 20px;
}

.h2-pricing-plan {
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.p-pricing-plan {
	text-align: center;
	margin: 35px auto 0 auto;
	width: 50%;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}