@charset "UTF-8";

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

 li {
 	list-style-type: none;
 	display: inline-block;
}

.wrapper {
	max-width: 1450px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
}

.page-header {
	width: 100%;
	height: 900px;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.header {
	width: 100%;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.text-logo {
	padding-left: 20px;
	color: #e7526b;
	font-weight: 700;
	font-style: italic;
	font-size: 30px;
}

.logo {
	width: 15%;
}

.search {
	margin-right: 20px;
	width: 15%;
	display: inline-block;
	text-align: center;
	width: 130px;
	height: 25px;
	border: none;
	border-radius: 7px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.link {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	margin: 8px;
	position: relative;
	transition: all .2s ease;
}

.link::after {
	position: absolute;
	display: block;
	background-color: #fff;
	content: "";
	width: 100%;
	height: 3px;
	left: 0;
	right: 0;
	top: 110%;
	opacity: 0;
}

.link:hover::after {
	opacity: 1;
}

.design {
	color: #ffffff;
	font-size: 50px;
	line-height: 70px;
}

.one-btn {
	cursor: pointer;
	margin-top: 50px;
	width: 180px;
	height: 40px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 30px;
	border: none;
	background-color: #8824cd;
	color: #fff;
	font-size: 16px;
	transition: all .2s ease;
}

.one-btn:hover {
	transform: translateY(-3px);
}

.inner-text-header {
	width: 50%;
	height: auto;
	text-align: center;
	margin: 300px auto 0 auto;
}

.gray {
	width: 100%;
	height: auto;
	background-color: #2e3b4e;
	padding: 50px 0 50px 0;
}

.foo-gray-box {
	width: 60%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.gray-box {
	width: 45%;
	margin: 20px;
}

.title-block {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 26.04px;
	text-transform: uppercase;
}

.text-block {
	margin-top: 15px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 26.04px;
}

.pink {
	width: 100%;
	height: 500px;
	background-image: url(../img/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.pink-text-block {
	margin: 50px auto 0 auto;
	text-align: center;
}

.title-pink {
	text-align: center;
	color: #ffffff;
	font-size: 35px;
	font-weight: 300;
	line-height: 60.05px;
}

.text-pink {
	width: 60%;
	margin: 0 auto;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 20px;
}

.two-btn {
	cursor: pointer;
	margin: 40px auto 0px auto;
	width: 180px;
	height: 40px;
	border-radius: 30px;
	border: none;
	background-color: #fff;
	color: #c8566c;
	font-size: 16px;
	transition: all .2s ease;
}

.two-btn:hover {
	transform: translateY(-3px);
}

.white-block {
	width: 100%;
	height: auto;
	background-color: #fff;
}

.pencil {
	float: left;
	width: 30%;
	height: 300px;
}

.white-text-block {
	margin-top: 40px;
	padding: 20px;
	width: 70%;
	float: right;
} 

.title-white {
	font-size: 15px;
	font-weight: 700;
	line-height: 26.04px;
	text-transform: uppercase;
}

.text-white {
	margin-top: 15px;
	font-size: 15px;
	font-weight: 400;
	line-height: 26.04px;
}

.experience {
	width: 100%;
	height: 500px;
	background-image: url(../img/river.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
}

.experience-wrap {
	background-color: rgba(51, 0, 51, 0.8);
	height: 80%;
	top: 20%;
	position: absolute;
}

.experience-text-block {
	width: 80%;
	margin: 55px auto 0 auto;
	text-align: center;
}

.experience-title {
	color: #ffffff;
	font-size: 35px;
	font-weight: 300;
	line-height: 48px;
}

.experience-text {
	color: #fff;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 400;
	line-height: 33px;
	z-index: 100;
}

.three-btn {
	cursor: pointer;
	margin-top: 50px;
	width: 180px;
	height: 40px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 30px;
	border: none;
	background-color: #8824cd;
	color: #fff;
	font-size: 16px;
	transition: all .2s ease;
}

.three-btn:hover {
	transform: translateY(-3px);
}

.img-section {
	width: 100%;
	height: 500px;
	background-image: url(../img/imgs.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.inner-img-section {
	width: 40%;
	margin: 200px 0 0 50px;
}

.btn-img-section {
	cursor: pointer;
	display: block;
	width: 200px;
	height: 50px;
	border-radius: 30px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	transition: all .2s ease;
}

.btn-img-section:hover {
	transform: translateY(-3px);
}

.text-img-section {
	margin-top: 20px;
	color: #ffffff;
	font-size: 40px;
	line-height: 50px;
}

.text-and-clock {
	width: 100%;
	height: 350px;
	background-color: #fff;
}

.text-block-clock {
	width: 60%;
	float: left;
	padding: 90px 0 0 30px;
}

.title-and-clock {
	color: #3a4d60;
	font-size: 15px;
	font-weight: 400;
	width: 70%;
	margin: 50px 0 0 50px;
}

.p-clock {
	margin: 20px 0 0 50px;
	color: #3a4d60;
	font-size: 15px;
	font-weight: 400;
	width: 70%;
}

.inner-img-block {
	width: 40%;
	float: right;
}

.imgclock {
	height: 350px;
}

.two-pink {
	width: 100%;
	height: 500px;
	background-color: #e7526b;
}

.inner-two-pink {
	width: 40%;
	height: auto;
	margin: 200px 0 0 200px;
}

.tit-two-pink {
	color: #fff;
	font-size: 18px;
}

.text-two-pink {
	display: block;
	margin-top: 40px;
	color: #fff;
	font-size: 16px;
}

.footer {
	background-color: #000;
	height: 80px;
	width: 100%;
}

.address {
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 80px;
}