@charset "UTF-8";

body {
	background-color: #000;
}

.wrapper {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #d7d7d7; 
}

.content {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.preloader {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	font-size: 40px;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000;
	padding: 200px;
}

.header-page {
	background-color: #fff;
	width: 100%;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	padding: 24px;
	margin-left: calc(115px - 24px);
}

.logo-take {
	color: #3ec6ff;
	font-family: "Kaushan Script";
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	cursor: pointer;
}

.link {
	text-decoration: none;
	font-family: 'Roboto';
	color: #343434;
	font-size: 18px;
	font-weight: 400;
	line-height: 4.8px;
	margin: 0 10px 0 10px;
	position: relative;
}

.link::after {
	display: block;
	content: "";
	opacity: 0;
	background-color: #343434;
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	top: 130%;
	transition: all .2s ease;
}

.link::before {
	display: block;
	content: "";
	opacity: 0;
	background-color: #343434;
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	bottom: 130%;
	transition: all .2s ease;

}

.link:hover::before {
	opacity: 1;
	bottom: 120%;
}

.link:hover::after {
	opacity: 1;
	top: 120%;
}

.inside-nav {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	padding: 5px;
	margin-right: calc(114px - 5px);
}

.one-input-block {
	margin-top: 20px;
	width: 100%;
	height: 685px;
	background-image: url(../img/hero_img.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.inside-one-input {
	margin-top: 226px;
}

.title-inside-one-input {
	text-align: center;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
}

.text-inside-one-input {
	text-align: center;
	margin-top: 48px;
	color: #ffffff;
}

.input-block {
	margin-top: 79px;
	text-align: center;
}

.input-one {
	border-radius: 5px;
	border-color: #fff;
	height: 50px;
	width: 272px;
	font-size: 16px;
	margin: 0 10px 0 10px;
}

.input-one:focus {
	color: blue;
	border-color: red;
}

.input-one[placeholder] {
	padding-left: 20px;
}

.one-btn {
	width: 172px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	font-size: 16px;
	color: #fff;
	border: none;
}

.one-btn:hover {
	cursor: pointer;
}

.two-input-block {
	margin-top: 20px;
	width: 100%;
	height: 685px;
	background-image: url(../img/hero_img2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.title-inside-two-input {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
}

.text-inside-two-input {
	margin-top: 48px;
	color: #ffffff;
}

.inner-inside-text-two-input {
	margin-left: 179px;
}

.magical-santorini {
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: #fff;
}

.inner-left-block-santorini {
	width: 50%;
	height: 100%;
	float: left;
}

.inner-text-block-santorini {
	padding: 100px 100px 0 100px;
	height: 100%;
}

.h2-title-santorini {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
}

.p-text-santorini {
	color: #868686;
	margin-top: 48px;
}

.magical-btn {
	margin-top: 49px;
	width: 272px;
	height: 50px;
	font-size: 16px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.inner-right-block-santorini {
	width: 50%;
	height: 100%;
	float: right;
}

/*.three-img-santorini {
	margin: 50px 0px 50px 0px;
}

.img-santorini {
	width: 220px;
	height: 415px;
	margin: 0 5px;
}*/

.three-img-santorini {
	margin: 50px 0px 50px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.img-santorini {
	width: 30%;
	height: 415px;
	margin: 0 5px;
}

.five-btn {
	text-align: center;
	line-height: 15px;
	width: 110px;
	clear: both;
	margin: 50px auto 50px auto;
}

.button-santorini {
	width: 15px;
	height: 15px;
	margin: 0 1px;
	border-radius: 100%;
	border: none;
	background-color: #000;
	cursor: pointer;
	display: inline-block;
}

.three-city {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 20px;
}

.one-city-block,
.two-city-block,
.three-city-block {
	width: 25%;
	height: auto;
}

.img-city-block {
	width: 371px;
	height: 260px;
}

.h3-title-city-block {
	color: #343434;
	font-size: 30px;
	margin-top: 29px;`
}

.p-city-block {
	color: #868686;
	margin-top: 20px;
}

.footer-city-block {
	width: 100%;
	margin-top: 40px;
}

.star-city-block {
	width: 50%;
	float: left;
	text-align: left;
}

.star-city {
	width: 18px;
	height: 18px;
}

.rating-city-block {
	width: 50%;
	float: right;
	text-align: right;
}

.inner-city-block {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 85px 0;
	margin: 0 auto;
}

.slider-box {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 20px;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 76px 0;
}

.slides-one {
	background-image: url(../img/oneslid.png);
}

.slides-two {
	background-image: url(../img/twoslid.png);
}

.slides-three {
	background-image: url(../img/threeslid.png);
}

.slideres {
	width: 371px;
	height: 260px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.star-slider {
	text-align: right;
	padding: 20px 20px 0 0;
}

.visited-top-right {
	float: right;
	padding: 10px 20px 0 0;
	color: #ffffff;
	font-size: 14px;
}

.text-slide {
	margin-top: 35%;
	margin-left: 5%;
}

.text {
	color: #ffffff;
	font-size: 14px;
}

.h4-title-slider {
	color: #ffffff;
	font-size: 36px;
}

.slide-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.min-block {
	width: 100%;
	height: 280px;
	background-color: #fff;
	margin-top: 20px;
}

.text-in-min-block {
	width: 60%;
	height: auto;
	float: left;
	padding: 89px 0 89px 115px;
}

.h4-title-min-block {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
}

.p-text-min-block {
	color: #868686;
	margin-top: 28px;
}

.wrapper-button-min-block {
	width: 40%;
	height: auto;
	float: right;
	padding: 115px 0 0 115px;
}

.min-block-btn {
	border: none;
	cursor: pointer;
	width: 272px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.contact-form {
	width: 100%;
	height: 670px;
	background-color: #f6f6f6;
	margin-top: 20px;
}

.block-form {
	float: left;
	width: 60%;
}

.h3-title-form {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
	margin: 60px 0 0 115px;
}

.inner-img-form {
	float: right;
	width: 40%;
}

.img-form {
	width: 100%;
	height: 670px;
}

.inner-form {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	margin-top: 50px;
}

.one-line-form,
.two-line-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.one-block-form,
.two-block-form {
	margin: 5px 10px;
}

.label-form {
	color: #868686;
	font-size: 14px;
}

.input-form {
	color: #b7b7b7;
	background-color: #fff;
	border: 1px solid #fff;
	width: 272px;
	height: 50px;
	font-size: 16px;
}

.input-form:focus {
	color: blue;
	border-color: red;
}

.input-form[placeholder] {
	padding-left: 10px;
}

.label-textarea {
	color: #868686;
	font-size: 14px;
	padding: 10PX;
}

.textarea-form {
	resize: none;
	width: 571px;
	height: 129px;
	border: 1px solid #fff;
}

.textarea-form:focus {
	color: blue;
	border-color: red;
}

.wrapper-btn-form {
	width: 100%;
	height: auto;
	text-align: center;
}

.btn-form {
	width: 272px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	border: none;
	font-size: 16px;
	margin: 20px auto 20px auto;
	cursor: pointer;
}

.reviews {
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
}

.header-row {
	width: 100%;
	height: 89px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 115px;
}

.reviews-row {
	color: #868686;
}

.select-reviews {
	width: 126px;
	height: 40px;
	border-radius: 3px;
	background-color: #ffffff;
	color: #868686;
	text-align: center;
	font-size: 16px;
	border: none;
}

.post-a {
	color: #868686;
	font-size: 14px;
	line-height: 25px;
	background-color: #fff;
	width: 172px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	margin-left: 20px;
}

.inner-reviews {
	padding: 0 130px;
	width: 100%;
}

.user-block {
	
}

.img-user {
	float: left;
	padding: 20px;
}

.name-and-city {
	float: right;
	color: #868686;
	font-size: 14px;
	margin-top: 25px;
	display: inline-block;
	margin-right: 10px;
}

.star-user {
	margin-top: 20px;
	float: right;
	margin-right: 10px;
}

.title-review-in-user {
	color: #343434;
}

.text-review-in-user {
	width: 100%;
	color: #868686;
	font-size: 14px;
	font-style: italic;
	margin-top: 20px;
}

.review-in-user {
	padding: 5px 10px;
	border-left: 1px solid #e2e2e2;
}

.block-review {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.review-btn {
	display: block;
	width: 172px;
	height: 45px;
	border-radius: 6px;
	border: none;
	background-color: #3ec6ff;
	color: #ffffff;
	font-size: 16px;
	margin: 56px auto 56px auto;
	cursor: pointer;
}

.choice-travel {
	width: 100%;
	height: auto;
	margin-top: 20px;
	background-color: #f6f6f6;
}

.inner-choice-travel {
	padding: 56px 115px 65px 115px;
}

.title-text {
	color: #868686;
	font-size: 18px;
}

.one-line-choice-travel {
	margin-top: 39px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list-view,
.map-view {
	color: #666666;
	margin: 0 15px;
	transition: all .2s ease;
} 

.list-view:hover,
.map-view:hover {
	color: #3ec6ff;
	cursor: pointer;
}

.list-view,
.map-view,
.option-block-view,
.select-block-view {
	display: inline-block;
}

.select-block-view {
	width: 172px;
	height: 50px;
	font-size: 16px;
	margin-left: 10px;
	padding-left: 10px;
	border-radius: 4px;
	border: none;
	color: #000;
	background-color: #ffffff;
}

.option-block-view {
	font-size: 16px;
	border: none;
}

.usa,
.new-york,
.city-live,
.cheap {
	display: inline-block;
	color: #868686;
	background-color: #fff;
	padding: 0 5px;
	font-size: 15px;
	line-height: 40px;
	width: 125px;
	height: 40px;
}

.times {
	display: inline-block;
	font-size: 30px;
	float: right;
	color: #000;
	line-height: 40px;
	cursor: pointer;
}

.shop {
	margin-top: 20px;
	width: 100%;
	height: 1000px;
	background-color: #d7d7d7;
}

.wrapper-shop {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.one-block-shop,
.two-block-shop,
.three-block-shop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inner-one-block,
.inner-two-block,
.inner-three-block {
	width: 371px;
	height: 445px;
	border-radius: 6px;
	background-color: #ffffff;
}

.head-inner-one-block {
	width: 100%;
	height: 91px;
	background-color: #fff;
}

.title-head-inner {
	color: #343434;
	font-size: 14px;
	float: left;
	padding: 32px 0 0 20px;
}

.head-inner-one-star-block {
	float: right;
	padding: 29px 25px 0 0;
}

.star-review {
	display: block;
	color: #868686;
	font-size: 14px;
}

.star {
	width: 15px;
	height: 14px;
}

.imgbg {
	width: 100%;
	height: 160px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.one-block-imgbg {
	background: url(../img/Layer_1.png);
}

.one-block-imgbg2 {
	background: url(../img/img2.png);
}

.one-block-imgbg3 {
	background: url(../img/img3.png);
}

.text-on-imgbg {
	position: absolute;
	text-align: center;
	line-height: 35px;
	width: 72px;
	height: 35px;
	border-radius: 3px 0 0 3px;
	background-color: #3ec6ff;
	color: #ffffff;
	font-size: 14px;
	top: 32px;
	right: 0;
}

.wrapper-one-block-for-p {
	width: 100%;
	height: auto;
	padding: 25px;
	border-bottom: 1px solid silver;
}

.text-in-one-block {
	color: #868686;
	font-size: 14px;
}

.podval-one-block {
	width: 100%;
	height: auto;
}

.img-podval-one-block {
	float: left;
	margin: 19px 0 0 20px;
}

.img-podval {
	display: block;
	margin: 5px auto 5px auto;
}

.text-of-img-podval {
	display: inline-block;
	color: #868686;
	font-size: 14px;
}

.btn-podval {
	margin: 19px 20px 0 0;
	text-align: center;
	line-height: 45px;
	float: right;
	width: 172px;
	height: 45px;
	border-radius: 6px;
	border: none;
	background-color: #3ec6ff;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

.block-option {
	margin-top: 20px;
	width: 372px;
	height: 438px;
	border-radius: 16px;
	background-color: #ffffff;
}

.select-block-option {
	width: 100%;
	height: calc(438px / 8);
	background-color: #fff;
	border: none;
	border-radius: 6px;
	color: #343434;
	font-size: 16px;
}

.block-destinations {
	margin-top: 20px;
	width: 372px;
	height: 181px;
	border-radius: 6px;
	background-color: #ffffff;
}

.select-destination {
	width: 100%;
	height: 50px;
	background-color: #fff;
	border: none;
	border-radius: 6px;
	color: #343434;
	font-size: 16px;
	border-bottom: 1px solid silver;
}

.option-destination {
	width: 100%;
	height: 30px;
	background-color: #000;
}

.trip-type {
	margin-top: 20px;
	width: 372px;
	height: 138px;
	border-radius: 6px;
	background-color: #ffffff;
}

.two-check {
	margin: 20px auto 20px auto;
	width: 90%;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.input-check {
	margin: 10px 10px;
} 

.check-block {
	margin-top: 20px;
	width: 372px;
	height: 80px;
	border-radius: 6px;
	background-color: #ffffff;
	padding: 20px;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.select-trip {
	width: 100%;
	height: 50px;
	background-color: #fff;
	border: none;
	border-radius: 6px;
	border-bottom: 1px solid silver;
	font-size: 16px;
}

.two-line-block {
	margin-top: 20px;
	width: 372px;
	height: 152px;
	border-radius: 6px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.one-line-blocked,
.two-line-blocked {
	width: 90%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border: 1px solid silver;
	padding-left: 20px;
	color: #868686;
	cursor: pointer;
}

.price-range {
	margin-top: 20px;
	width: 372px;
	height: 125px;
	border-radius: 6px;
	background-color: #ffffff;
	text-align: center;
}

.input-range {
	width: 80%;
	height: 30px;
	color: blue;
	background-color: blue;
	padding: 35px 0;
}

.select-range {
	width: 100%;
	height: 50px;
	background-color: #fff;
	border: none;
	border-radius: 6px;
	border-bottom: 1px solid silver;
	font-size: 16px;
}

.two-two-line {
	margin-top: 20px;
	padding: 15px;
	width: 372px;
	height: 121px;
	border-radius: 6px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.check-two-two {
	margin: 0 10px;
}

.nav-link-shop {
	margin-top: 20px;
	width: 100%;
	height: 68px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-link {
	margin-left: 50px;
	cursor: pointer;
}

.right-link {
	margin-right: 50px;
	cursor: pointer;
}

.number-link {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.link-shop {
	text-decoration: none;
	color: #868686;
	font-size: 16px;
	line-height: 50.13px;
	cursor: pointer;
	padding: 10px;
}

.map {
	width: 100%;
	height: 458px;
	margin-top: 20px;
}

.maps {
	width: 100%;
	height: 458px;
	background: url(../img/map.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.see {
	margin-top: 20px;
	width: 100%;
	height: 654px;
	background: url(../img/seebg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0;
	position: relative;
}

.wrapper-see {
	text-align: center;
}

.h3-title-map {
	text-align: center;
	color: #ffffff;
	font-size: 48px;
	padding: 35px 0;
}

.img-on-map {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
}

.play {
	z-index: 2;
	position: absolute;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
}

.download {
	margin-top: 20px;
	width: 100%;
	height: 482px;
	background-color: #f6f6f6;
}

.block-img-download {
	width: 30%;
	height: auto;
	float: left;
}

.img-downloads {
	margin: 25px 0 0 114px;
}

.wrapper-text-download {
	margin: 143px 0 0 0;
	padding-left: 116px;
	width: 70%;
	height: auto;
	float: right;
}

.h3-title-download {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
}

.p-download {
	margin-top: 20px;
	color: #868686;
	font-size: 16px;
	font-weight: 400;
}

.btn-download {
	margin-top: 45px;
	cursor: pointer;
	width: 272px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	border: none;
	font-size: 16px;
}

.footer {
	margin-top: 20px;
	width: 100%;
	height: 400px;
	background-color: #f6f6f6;
}

.text-left-block {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;	
}

.in-block-company,
.in-for-companies,
.in-useful {
	margin-top: 80px;
}

.h5-title-company {
	color: #343434;
	line-height: 30px;
	font-family: Roboto;
	margin-bottom: 45px;
}

.text-in-left-block {
	display: block;
	font-family: Roboto;
	color: #868686;
	font-size: 14px;
	line-height: 30px;
}

.social-block {
	float: right;
	width: 50%;
	height: 100%;
}

.inner-social {
	padding: 79px 0 0 50px;
}

.tit-cocial {
	color: #343434;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.wrap-input-btn {
	margin-top: 41px;
}

.input-social {
	width: 273px;
	height: 45px;
	border-radius: 6px;
	font-size: 16px;
	background-color: #ffffff;
	border: 1px solid #fff;
}

.input-social[placeholder] {
	padding-left: 10px;
}

.input-social:focus {
	color: blue;
	border-color: red;
}

.btn-social {
	cursor: pointer;
	width: 172px;
	height: 45px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	border: none;
}

.wrap-social-link {
	margin-top: 57px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.link-social {
	padding: 15px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 10px;
	text-align: center;
	width: 40px;
	height: 40px;
	position: relative;
}

.img-link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.address {
	background-color: #fff;
	width: 100%;
	height: 50px;
	clear: both;
	border-top: 1px solid silver;
}

.inner-text-address {
	text-align: center;
	line-height: 50px;
}



/*MEDIA QURIES*/



@media (max-width: 1230px) {
.logo {
	padding: 24px;
	margin-left: calc(115px - 94px);
}
.text-inside-one-input,
.text-inside-one-input {
	margin-top: 40px;
}
.input-one {
	height: 46px;
	width: 252px;
	margin: 0 10px 0 10px;
	font-size: 15px;
}
.one-btn {
	width: 164px;
	height: 46px;
	border-radius: 6px;
	background-color: #3ec6ff;
	font-size: 16px;
	color: #fff;
	border: none;
}
.h2-title-santorini {
	font-size: 38px;
}
.one-city-block,
.two-city-block,
.three-city-block {
	width: 30%;
	height: auto;
}
.inner-city-block {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 85px 10px;
	margin: 0 auto;
}
.img-city-block {
	width: 100%;
	height: 100%;
}
.slideres {
	width: 100%;
	height: 100%;
}
.slides-one,
.slides-two,
.slides-three {
	margin: 0 20px;
}
.h4-title-slider {
	font-size: 28px;
}
.text-in-min-block {
	width: 60%;
	height: auto;
	float: left;
	padding: 89px 0 0 115px;
}
.h4-title-min-block {
	font-size: 40px;
}
}