@charset "UTF-8";

body {
	background-color: #000;
}

.wrapper {
	width: 1400px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #d7d7d7; 
}

.content {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.header-page {
	background-color: #fff;
	width: 100%;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	padding: 24px;
	margin-left: calc(115px - 24px);
}

.logo-take {
	color: #3ec6ff;
	font-family: "Kaushan Script";
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	cursor: pointer;
}

.link {
	text-decoration: none;
	font-family: 'Roboto';
	color: #343434;
	font-size: 18px;
	font-weight: 400;
	line-height: 4.8px;
	margin: 0 10px 0 10px;
	position: relative;
}

.link::after {
	display: block;
	content: "";
	opacity: 0;
	background-color: #343434;
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	top: 130%;
	transition: all .2s ease;
}

.link::before {
	display: block;
	content: "";
	opacity: 0;
	background-color: #343434;
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	bottom: 130%;
	transition: all .2s ease;

}

.link:hover::before {
	opacity: 1;
	bottom: 120%;
}

.link:hover::after {
	opacity: 1;
	top: 120%;
}

.inside-nav {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	padding: 5px;
	margin-right: calc(114px - 5px);
}

.one-input-block {
	margin-top: 20px;
	width: 100%;
	height: 685px;
	background-image: url(../img/hero_img.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.inside-one-input {
	margin-top: 226px;
}

.title-inside-one-input {
	text-align: center;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
}

.text-inside-one-input {
	text-align: center;
	margin-top: 48px;
	color: #ffffff;
}

.input-block {
	margin-top: 79px;
	text-align: center;
}

.input-one {
	border-radius: 5px;
	border-color: #fff;
	height: 50px;
	width: 272px;
	font-size: 16px;
	margin: 0 10px 0 10px;
}

.input-one:focus {
	color: blue;
	border-color: red;
}

.input-one[placeholder] {
	padding-left: 20px;
}

.one-btn {
	width: 172px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	font-size: 16px;
	color: #fff;
	border: none;
}

.one-btn:hover {
	cursor: pointer;
}

.two-input-block {
	margin-top: 20px;
	width: 100%;
	height: 685px;
	background-image: url(../img/hero_img2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.title-inside-two-input {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
}

.text-inside-two-input {
	margin-top: 48px;
	color: #ffffff;
}

.inner-inside-text-two-input {
	margin-left: 179px;
}

.magical-santorini {
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: #fff;
}

.inner-left-block-santorini {
	width: 50%;
	float: left;
}

.inner-text-block-santorini {
	padding: 100px;
}

.h2-title-santorini {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
}

.p-text-santorini {
	color: #868686;
	margin-top: 48px;
}

.magical-btn {
	margin-top: 49px;
	width: 272px;
	height: 50px;
	font-size: 16px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.inner-right-block-santorini {
	width: 50%;
	float: right;
}

.three-img-santorini {
	margin: 50px 0px 50px 0px;
}

.img-santorini {
	width: 220px;
	height: 415px;
	margin: 0 5px;
}

.five-btn {
	text-align: center;
	line-height: 15px;
	width: 110px;
	clear: both;
	margin: 50px auto 50px auto;
}

.button-santorini {
	width: 15px;
	height: 15px;
	margin: 0 1px;
	border-radius: 100%;
	border: none;
	background-color: #000;
	cursor: pointer;
	display: inline-block;
}

.three-city {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 20px;
}

.one-city-block,
.two-city-block,
.three-city-block {
	width: 25%;
	height: auto;
}

.img-city-block {
	width: 371px;
	height: 260px;
}

.h3-title-city-block {
	color: #343434;
	font-size: 30px;
	margin-top: 29px;`
}

.p-city-block {
	color: #868686;
	margin-top: 20px;
}

.footer-city-block {
	width: 100%;
	margin-top: 40px;
}

.star-city-block {
	width: 50%;
	float: left;
	text-align: left;
}

.star-city {
	width: 18px;
	height: 18px;
}

.rating-city-block {
	width: 50%;
	float: right;
	text-align: right;
}

.inner-city-block {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 85px 0;
	margin: 0 auto;
}