@charset "UTF-8";

body {
	background-color: #000;
}

.wrapper {
	width: 1400px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #d7d7d7; 
}

.content {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.header-page {
	background-color: #fff;
	width: 100%;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	padding: 24px;
	margin-left: calc(115px - 24px);
}

.logo-take {
	color: #3ec6ff;
	font-family: "Kaushan Script";
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	cursor: pointer;
}

.link {
	text-decoration: none;
	font-family: 'Roboto';
	color: #343434;
	font-size: 18px;
	font-weight: 400;
	line-height: 4.8px;
	margin: 0 10px 0 10px;
	position: relative;
}

.link::after {
	display: block;
	content: "";
	opacity: 0;
	background-color: #343434;
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	top: 130%;
	transition: all .2s ease;
}

.link::before {
	display: block;
	content: "";
	opacity: 0;
	background-color: #343434;
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	bottom: 130%;
	transition: all .2s ease;

}

.link:hover::before {
	opacity: 1;
	bottom: 120%;
}

.link:hover::after {
	opacity: 1;
	top: 120%;
}

.inside-nav {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	padding: 5px;
	margin-right: calc(114px - 5px);
}

.one-input-block {
	margin-top: 20px;
	width: 100%;
	height: 685px;
	background-image: url(../img/hero_img.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.inside-one-input {
	margin-top: 226px;
}

.title-inside-one-input {
	text-align: center;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
}

.text-inside-one-input {
	text-align: center;
	margin-top: 48px;
	color: #ffffff;
}

.input-block {
	margin-top: 79px;
	text-align: center;
}

.input-one {
	border-radius: 5px;
	border-color: #fff;
	height: 50px;
	width: 272px;
	font-size: 16px;
	margin: 0 10px 0 10px;
}

.input-one:focus {
	color: blue;
	border-color: red;
}

.input-one[placeholder] {
	padding-left: 20px;
}

.one-btn {
	width: 172px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	font-size: 16px;
	color: #fff;
	border: none;
}

.one-btn:hover {
	cursor: pointer;
}

.two-input-block {
	margin-top: 20px;
	width: 100%;
	height: 685px;
	background-image: url(../img/hero_img2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.title-inside-two-input {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
}

.text-inside-two-input {
	margin-top: 48px;
	color: #ffffff;
}

.inner-inside-text-two-input {
	margin-left: 179px;
}

.magical-santorini {
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: #fff;
}

.inner-left-block-santorini {
	width: 50%;
	float: left;
}

.inner-text-block-santorini {
	padding: 100px;
}

.h2-title-santorini {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
}

.p-text-santorini {
	color: #868686;
	margin-top: 48px;
}

.magical-btn {
	margin-top: 49px;
	width: 272px;
	height: 50px;
	font-size: 16px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.inner-right-block-santorini {
	width: 50%;
	float: right;
}

.three-img-santorini {
	margin: 50px 0px 50px 0px;
}

.img-santorini {
	width: 220px;
	height: 415px;
	margin: 0 5px;
}

.five-btn {
	text-align: center;
	line-height: 15px;
	width: 110px;
	clear: both;
	margin: 50px auto 50px auto;
}

.button-santorini {
	width: 15px;
	height: 15px;
	margin: 0 1px;
	border-radius: 100%;
	border: none;
	background-color: #000;
	cursor: pointer;
	display: inline-block;
}

.three-city {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 20px;
}

.one-city-block,
.two-city-block,
.three-city-block {
	width: 25%;
	height: auto;
}

.img-city-block {
	width: 371px;
	height: 260px;
}

.h3-title-city-block {
	color: #343434;
	font-size: 30px;
	margin-top: 29px;`
}

.p-city-block {
	color: #868686;
	margin-top: 20px;
}

.footer-city-block {
	width: 100%;
	margin-top: 40px;
}

.star-city-block {
	width: 50%;
	float: left;
	text-align: left;
}

.star-city {
	width: 18px;
	height: 18px;
}

.rating-city-block {
	width: 50%;
	float: right;
	text-align: right;
}

.inner-city-block {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 85px 0;
	margin: 0 auto;
}

.slider-box {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 20px;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 76px 0;
}

.slides-one {
	background-image: url(../img/oneslid.png);
}

.slides-two {
	background-image: url(../img/twoslid.png);
}

.slides-three {
	background-image: url(../img/threeslid.png);
}

.slideres {
	width: 371px;
	height: 260px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.star-slider {
	text-align: right;
	padding: 20px 20px 0 0;
}

.visited-top-right {
	float: right;
	padding: 10px 20px 0 0;
	color: #ffffff;
	font-size: 14px;
}

.text-slide {
	margin-top: 35%;
	margin-left: 5%;
}

.text {
	color: #ffffff;
	font-size: 14px;
}

.h4-title-slider {
	color: #ffffff;
	font-size: 36px;
}

.slide-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.min-block {
	width: 100%;
	height: 280px;
	background-color: #fff;
	margin-top: 20px;
}

.text-in-min-block {
	width: 60%;
	height: auto;
	float: left;
	padding: 89px 0 89px 115px;
}

.h4-title-min-block {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
}

.p-text-min-block {
	color: #868686;
	margin-top: 28px;
}

.wrapper-button-min-block {
	width: 40%;
	height: auto;
	float: right;
	padding: 115px;
}

.min-block-btn {
	border: none;
	cursor: pointer;
	width: 272px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.contact-form {
	width: 100%;
	height: 670px;
	background-color: #f6f6f6;
	margin-top: 20px;
}

.block-form {
	float: left;
	width: 60%;
}

.h3-title-form {
	color: #868686;
	font-size: 48px;
	font-weight: 700;
	margin: 60px 0 0 115px;
}

.inner-img-form {
	float: right;
	width: 40%;
}

.img-form {
	width: 100%;
	height: 670px;
}

.inner-form {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	margin-top: 50px;
}

.one-line-form,
.two-line-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.one-block-form,
.two-block-form {
	margin: 5px 10px;
}

.label-form {
	color: #868686;
	font-size: 14px;
}

.input-form {
	color: #b7b7b7;
	background-color: #fff;
	border: 1px solid #fff;
	width: 272px;
	height: 50px;
	font-size: 16px;
}

.input-form:focus {
	color: blue;
	border-color: red;
}

.input-form[placeholder] {
	padding-left: 10px;
}

.label-textarea {
	color: #868686;
	font-size: 14px;
	padding: 10PX;
}

.textarea-form {
	resize: none;
	width: 571px;
	height: 129px;
	border: 1px solid #fff;
}

.textarea-form:focus {
	color: blue;
	border-color: red;
}

.wrapper-btn-form {
	width: 100%;
	height: auto;
	text-align: center;
}

.btn-form {
	width: 272px;
	height: 50px;
	border-radius: 6px;
	background-color: #3ec6ff;
	color: #ffffff;
	border: none;
	font-size: 16px;
	margin: 20px auto 20px auto;
	cursor: pointer;
}

.reviews {
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
}

.header-row {
	width: 100%;
	height: 89px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 115px;
}

.reviews-row {
	color: #868686;
}

.select-reviews {
	width: 126px;
	height: 40px;
	border-radius: 3px;
	background-color: #ffffff;
	color: #868686;
	text-align: center;
	font-size: 16px;
	border: none;
}

.post-a {
	color: #868686;
	font-size: 14px;
	line-height: 25px;
	background-color: #fff;
	width: 172px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	margin-left: 20px;
}

.inner-reviews {
	padding: 0 130px;
	width: 100%;
}

/*.user-block {
	
}*/

.img-user {
	float: left;
	padding: 20px;
}

.name-and-city {
	float: right;
	color: #868686;
	font-size: 14px;
	margin-top: 25px;
	display: inline-block;
	margin-right: 10px;
}

.star-user {
	margin-top: 20px;
	float: right;
	margin-right: 10px;
}

.title-review-in-user {
	color: #343434;
}

.text-review-in-user {
	color: #868686;
	font-size: 14px;
	font-style: italic;
	margin-top: 20px;
}

.review-in-user {
	padding: 5px 10px;
	border-left: 1px solid #e2e2e2;
}

.block-review {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.review-btn {
	display: block;
	width: 172px;
	height: 45px;
	border-radius: 6px;
	border: none;
	background-color: #3ec6ff;
	color: #ffffff;
	font-size: 16px;
	margin: 56px auto 56px auto;
	cursor: pointer;
}

.choice-travel {
	width: 100%;
	height: 214px;
	margin-top: 20px;
	background-color: #f6f6f6;
}